/* NanumSquare */
@font-face {
  font-family: "NanumSquare";
  font-weight: 100;
  src: url("./NanumSquareL.ttf");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url("./NanumSquareR.ttf");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 600;
  src: url("./NanumSquareB.ttf");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url("./NanumSquareEB.ttf");
}
